doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title Jumbotron Template for Bootstrap
    // Bootstrap core CSS
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='../css/main.css', rel='stylesheet')
  body.background
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar 
          a.navbar-brand(href='#') Project name
          a.navbar-brand(href='#') About
          a.navbar-brand(href='#') Who We Are
          a.navbar-brand(href='#') Contact
        .navbar-collapse.collapse
          form.navbar-form.navbar-right(role='form')
            .form-group
              input.form-control(type='text', placeholder='Email')
            .form-group
              input.form-control(type='password', placeholder='Password')
            button.btn.btn-success(type='submit') Sign in
        .navbar-collapse
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1.text-center OpenDose
        p.text-center
          | OpenDose helps health organizations address the problem of self-medication in underdeveloped areas.
        p
          a.btn.btn-primary.btn-lg(role='button') Learn more &raquo;
    .container
      // Example row of columns
      .row
        .col-md-4
          h2 Track
          p
            | Our service provides a unique medium of data acquisition for organizations looking to make an impact in the health sector, particularly in underdeveloped areas. OpenDose uses SMS to track prescription medications provided and measure how effectively patients are meeting dosage schedules.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        .col-md-4
          h2 Identify
          p
            | With the accumulated data from our service, organizations will now have a powerful new medium through which they can understand patients' patterns of medical adherence. Our integration with IBM Watson's Bluemix analytics software will allow companies to identify general medication adherence rates and identify which medications are specifically lacking in this category. 
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        .col-md-4
          h2 Impact
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
      hr
      footer
        p &copy; OpenDose 2015
    // /container
    
    // Bootstrap core JavaScript
    // ==================================================
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='#{pathToAssets}/dist/js/bootstrap.min.js')